:root{
    --dark-color:#19283f;
    --green-color:#33d1cc;
    --section-color:#eff7fa;
    --yellow-color: #ffc400;
}
body{
    font-family:"Roboto", sans-serif;
}
/*nav*/
.navbar{
    background-color: var(--dark-color);
}
.navbar .navbar-nav .nav-link{
    color: white;
}
.navbar .navbar-nav .nav-link.active,
 .navbar .navbar-nav .nav-link:focus,
 .navbar .navbar-nav .nav-link:hover{
    color: var(--green-color);
}
.navbar .search{
    border-left: 2px solid var(--green-color);
}
@media (max-width:991px) {
    .navbar .search{
        border-left:none;   
    }
    .navbar .btn-outline {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }
}
.navbar .search svg{
    color: var(--green-color);
}
.navbar .navbar-toggler{
color: white;
font-size: 25px;
border-color: white;
}
.navbar .navbar-toggler:focus{
    box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"]{
    border-color: var(--green-color);
}

.btn-outline {
    color: var(--green-color);
    border-color: var(--green-color);
    padding: 0.5rem 1rem;
}
.btn-outline:hover {
    color:white;
    background-color: var(--green-color);
    border-color: var(--green-color);
}

/*landing*/
.landing{
    background-color: #19283ff2;
    min-height: calc(100vh - 72px);
}

/*features*/
.main-title::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 2px;
    background-color: var(--green-color);
    left: 50%;
    transform: translateX(-50px);
    bottom: -20px;
}
.features .icon-holder{
    height: 200px;
}
.features .icon-holder svg{
    left: 50%;
    transform: translateX(-50%);
}
.features .icon-holder .number{
    font-size: 12rem;
    color: var(--section-color);
}
.features .icon-holder .icon{
    color: var(--green-color);
}
.ourwork {
    background-color: var(--section-color);
}
.ourwork ul .active{
    background-color: var(--green-color);
    color: white;
}
.ourwork ul li{
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.ourwork ul li:not(.active):hover{
    color: var(--yellow-color);
}
.ourwork .box{
    padding: 5px;
    overflow: hidden;
    position: relative;
}
.ourwork .box::before{
    content: attr(data-work);
    position: absolute;
    color: white;
    background-color: #11a1b36b;
    font-weight: bold;
    font-size: 1.5rem;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
    transform: translateX(calc(-100% - 5px));
}
.ourwork .box:hover:before{
    transform: translateX(0);
}


/*stuff*/
.stuff .description {
    max-width: 500px;
  }

  /*team*/
.team{
    background-color: var(--section-color);
}
.team h2{
    color: var(--yellow-color);
}
.team .box h4{
    background-color: var(--green-color);
}

/*project*/
.project{
    background-color: var(--dark-color);
}

/*sub*/
.subscribe{
    background-color: var(--yellow-color);
}
.subscribe input[type="text"]{
    border: none;
    border-bottom: 1px solid white;
}
.subscribe input[type="submit"]{
    background-color: var(--dark-color);
    color: var(--yellow-color);
}
.subscribe input[type="text"]:focus {
    outline: none;
}
.subscribe ::placeholder{
    color: white;
}

.subscribe input[type="submit"] {
    background-color: var(--dark-color);
    color: var(--yellow-color);
  }

  /* Footer */
  .footer {
    background-color: var(--dark-color);
  }
  .footer .copyright > span {
    color: var(--green-color);
  }
  .footer .copyright div span {
    color: var(--yellow-color);
  }
  .footer .contact ul svg {
    width: 20px;
    height: 20px;
  }
  .footer .facebook {
    background-color: #1877f2;
  }
  .footer .twitter {
    background-color: #1da1f2;
  }
  .footer .linkedin {
    background-color: #0077b5;
  }
  .footer .youtube {
    background-color: #ff0000;
  }
.footer ul li{
    opacity: 0.7;
    transition: all 0.4s ease-in-out;
}
.footer ul li:hover{
    opacity: 1;
}